/* RESET BODY */
body { 
  margin: 0; 
  padding: 0;
  overflow: hidden; 
  background: #404040;
}

/* KHOÉT LỖ TRÁNH MC */
.text-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;

  -webkit-mask: radial-gradient(
      circle at 45vw 60vh,
      transparent 150px,
      black 151px
    );
  mask: radial-gradient(
      circle at 45vw 60vh,
      transparent 150px,
      black 151px
    );
}

/* CHỮ CHẠY */
.moving-domain {
  position: absolute;
  font-size: 32px;
  white-space: nowrap;
  pointer-events: none;

  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
               "Segoe UI", sans-serif;
}

/* Emoji */
.moving-domain .icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}

/* Gradient chữ */
.moving-domain .domain-text {
  display: inline-block;
  vertical-align: middle;

  font-weight: 700;
  letter-spacing: 2px;

  background: linear-gradient(
    55deg,
    #fffebe 0%, 
    #fffebe 10%,
    #ffac3e 20%,
    #ffac3e 25%,
    #fec65b 33%,
    #fffebe 50%,
    #fffebe 60%,
    #fec65b 65%,
    #ffac3e 75%,
    #ffac3e 85%,
    #ffac3e 100%
  );
  filter: drop-shadow(0.5px 0.1px 1px #0d0d0d);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes smoothMove {
  0% {
    transform: translateX(100vw);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

/* Áp dụng cho chữ chạy */
.moving-domain {
  animation: smoothMove 18s linear infinite;
}
